@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body{
    background-image: url("/spaceinvaders/v2/img/background.png");
}

canvas {
    position:absolute;
    left:20px;
    top:60px;
}
#aliensCanvas {
    outline: 5px white solid;
    width: 1700px;
    height: 850px;
}
#playerraysCanvas {
    background-color:transparent;
}
#levelDiv{
    top: 60px;
}

span#alives {
    margin-left: -20px;
}

#scoreDiv, #alivesDiv, #levelDiv {
    position:absolute;
    left: 1750px;
    display: flex;
    flex-direction: column;
    color: white;
}
#score, #alives, #level {
    text-align:center;
    font-size: 25px;
    line-height: 45px;
}
#scoreDiv {
    top:160px;
}
#alivesDiv {
    top: 260px;
}

#title{
    margin: 0;
}

h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    margin:0;
}

span{
    font-family: 'Press Start 2P', cursive;
}

button:focus {
    outline:0;
}

#mute-button{
    color: white;
    top: 430px;
    position: absolute;
    left: 1760px;
    font-family: 'Press Start 2P', cursive;
    border: none;
    background: none;
    font-size: 24px;
}